*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}
html , body{
    height: 100%;
    width: 100%;
}

#animation{
    width: fit-content;
    overflow: hidden;
}


#animation .anim{
    transform: translateY(100%);
}




#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

#main{
    width: 100%;
    background-color: black;
}

#hero{
    color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 3vw;
    /* text-transform: uppercase; */
    font-size: 1vw;
}

#nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#container{
    margin-top: 90px;
}

#container h1{
   opacity: .6;
   text-transform: uppercase;
   padding-left: 3vw;
   font-size: 10vw;
}

#secondh1{
    line-height: 0.8;
    margin-left: 10vw;
}

#right{
    margin-top: 1vw;
    text-transform: uppercase;
    margin-left: 54vw;
    font-size: 0.9vw;
}

#left-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 7vw;
    padding-right: 3vw;
}

#left-text h5{
    font-size: 0.9vw;
    text-transform: uppercase;
    margin-top: 0.5vw;
}

#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    margin-top: 1.5vw;
    width: 100%;
}

#herofooter a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9vw;
}

#herofooter button{
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    font-size: 1vw;
    opacity: 0.7;
}

#second{
    padding: 250px 12vw 200px 2vw;
    color: #fff;
    width: 100%;
    height: auto;
}

#element1, #element2 {
    position: relative;
    border-top: 2px solid #888;
    padding: 2vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
}

#element3{
    position: relative;
    border-top: 2px solid #888;
    padding: 2vw 1vw;
    border-bottom: 2px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
}
#element1 h1{
    font-size: 140px;
}

#element2 h1{
    font-size: 140px;
}

#element3 h1{
    font-size: 140px;
}

#element1 img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#element2 img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#element3 img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#third{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 100px 12vw 200px 45vw;
    color: #fff;
    width: 100%;
    height: auto;
}

#third h5{
    opacity: 0.6;
    margin-bottom: 0.8vw;
}
#third p{
    margin-bottom: 2vw;
    font-size: 18px;
}

#third a{
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    padding: 12px 22px;
    border: 1px solid #fff;
    font-size: 16px;
}

#four{
    padding: 0 0 7vw 2vw;
    color: #fff;
    width: 100%;
    height: auto;
}

#four h5{
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 14px;
}

#four h3{
    margin-top: 10px;
    font-size: 16px;
}
#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 3vw;

}

#footerleft {
    display: flex;
    gap: 30px;
    font-size: 1vw;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}